'.text.html':

  'count-jquery-get-columns':
    'prefix':'count-jquery-get-columns'
    'body':"""
    var count = $("#selected ul").children().length;
    """

  'count-jquery-addcolumn-class':
    'prefix':'count-jquery-addcolumn-class'
    'body':"""

    $('#parent').removeClass().addClass(function(){
    	return ["none", "one", "two", "three", "four"]
    	     [$(this).children('.child').length];
    });

    """

  'count-wp-add-first-last-class':
    'prefix':'count-wp-add-first-last-class'
    'body':"""

    <?php if ( have_posts() ) : ?>

    		<?php
    		$count = 0;
    		global $query_string;
    		query_posts("{$query_string}&posts_per_page=-1&orderby=menu_order");
    		$total_count = $wp_query->post_count;
    		while ( have_posts() ) : the_post();

    			global $post;
    			$post_title=$post->post_title;
    			$count++;
    			if ($count == $total_count){ $last = "last"; } else { $last = ""; }
    		?>
    		<?php echo $last; ?>


    		<?php endwhile; ?>


    		<?php else : ?>

    <?php endif; ?>

    """

  'count-wp-post-counter':
    'prefix':'count-wp-post-counter'
    'body':"""

    <?php
    $counter = 0;
    foreach($posts as $post) {

    	echo $counter;
    	$counter++;

    }
    ?>

    """


  'count-wp-comment-counter':
    'prefix':'count-wp-comment-counter'
    'body':"""

      <?php comments_number('No Comments', '1 Comment', '% Comments'); ?>

    """

  'count-wp-counter-break':
    'prefix':'count-wp-counter-break'
    'body':"""

      $post_count = 1;
      $page = get_query_var('paged') ? get_query_var('paged') : 1;
      if ($page > 1) {
          $post_count = ((int) ($page - 1) * (int) get_query_var('posts_per_page')) + 1;
      }

      while (have_posts()) {
          the_post();


          if ($post_count % 3 == 0) { echo "<br />"; };

          $post_count++;
      }
    """
