'.text.html':

  'Hover Class Toggle':
    'prefix':'hover-class-toggle'
    'body':"""
      $("${1:Selector}").on({
      	"mouseenter": function(){
      		$('${1}.active').not(this).removeClass('active');
      		$(this).toggleClass('active');
      		$(this).children('SELECTORSUB').toggleClass('active');
      	},
      	"mouseleave": function(){
      		$('${1}R.active').not(this).removeClass('active');
      		$(this).toggleClass('active');
      		$(this).children('SELECTORSUB').toggleClass('active');
      	}
      });
    """

  'Hover Dropdown Menu Animate':
    'prefix':'hover-dropdown-menu-animate'
    'body':"""
			$('ul.nav li.dropdown').hover(function() {
			  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
			}, function() {
			  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
			});
    """
