'.text.html':

  'PHP Split':
    'prefix':'php-split-string-array'
    'body':"""
        $str = "";
        $res = array_filter(explode(",", ${1:$str}));
        print_r($res);
    """

  'PHP Errors':
    'prefix':'error-php'
    'body':"""
        ini_set('display_errors', 1);
        ini_set('display_startup_errors', 1);
        error_reporting(E_ALL);
    """

  'Isset':
    'prefix':'isset'
    'body':"""
        $var = isset($_GET['css']) ? $_GET['css'] : '';
    """
