'.text.html':

  'Wordpress Template Code':
    'prefix':'wp-template-page'
    'body':"""
      <?php
      /**
      * Template Name: ${1:Template Name}
      *
      *
      * @package Lambda
      * @subpackage Frontend
      * @since 0.1
      *
      * @copyright (c) 2015 Oxygenna.com
      * @license http://wiki.envato.com/support/legal-terms/licensing-terms/
      * @version 1.55.1
      */
      get_header(); ?>

      <div class="wrap">
      	<div id="primary" class="content-area">
      		<main id="main" class="site-main" role="main">

      			<?php
      			while ( have_posts() ) : the_post();

      				get_template_part( 'template-parts/page/content', 'page' );

      				// If comments are open or we have at least one comment, load up the comment template.
      				if ( comments_open() || get_comments_number() ) :
      					comments_template();
      				endif;

      			endwhile; // End of the loop.
      			?>

      		</main><!-- #main -->
      	</div><!-- #primary -->
      </div><!-- .wrap -->

      <?php get_footer();
    """
