'.text.html':

  'Wordpress Functions.php - jQuery Replace':
    'prefix':'wordpress-jquery-replace'
    'body':"""

      add_filter( 'wp_default_scripts', 'dequeue_jquery_migrate' );

      function dequeue_jquery_migrate( &$scripts){
      	if(!is_admin()){
      		$scripts->remove( 'jquery');
      		$scripts->add( 'jquery', false, array( 'jquery-core' ), '1.10.2' );
      	}
      }
      //Making jQuery Google API
      function modify_jquery() {
          if (!is_admin()) {
              // comment out the next two lines to load the local copy of jQuery
              wp_deregister_script('jquery');
              wp_register_script('jquery', 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', false, '1.9.1');
              wp_enqueue_script('jquery');
          }
      }
      add_action('init', 'modify_jquery');
    """

  'Wordpress Walker Class':
    'prefix':'wordpress-walker'
    'body':"""
      <nav class="nav" role="navigation">
        <?php
        wp_nav_menu(
          array(
            'items_wrap'=> '%3$s',
            'walker' => new Nav_Footer_Walker(),
            'container'=>false,
            'menu_class' => '',
            'theme_location'=>'Primary',
            'fallback_cb'=>false
          )
        );
        //html5blank_nav(); ?>
      </nav>
      <?php
      //in functions.php add..
      class Nav_Footer_Walker extends Walker_Nav_Menu {
            	function start_lvl( &$output, $depth = 0, $args = array() ) {
            		$indent = str_repeat("\t", $depth);
            		$output .= "\n$indent\n";
            	}
            	function end_lvl( &$output, $depth = 0, $args = array() ) {
            		$indent = str_repeat("\t", $depth);
            		$output .= "$indent\n";
            	}
            	function start_el( &$output, $item, $depth = 0, $args = array(), $id = 0 ) {
            		$indent = ( $depth ) ? str_repeat( "\t", $depth ) : '';
            		$class_names = $value = '';
            		$classes = empty( $item->classes ) ? array() : (array) $item->classes;
            		$classes[] = 'menu-item-' . $item->ID;
            		$class_names = join( ' ', apply_filters( 'nav_menu_css_class', array_filter( $classes ), $item, $args ) );
            		$class_names = $class_names ? ' class="' . esc_attr( $class_names ) . '"' : '';
            		$id = apply_filters( 'nav_menu_item_id', 'menu-item-'. $item->ID, $item, $args );
            		$id = $id ? ' id="' . esc_attr( $id ) . '"' : '';
            		$output .= $indent . '';
            		$attributes  = ! empty( $item->attr_title ) ? ' title="'  . esc_attr( $item->attr_title ) .'"' : '';
            		$attributes .= ! empty( $item->target )     ? ' target="' . esc_attr( $item->target     ) .'"' : '';
            		$attributes .= ! empty( $item->xfn )        ? ' rel="'    . esc_attr( $item->xfn        ) .'"' : '';
            		$attributes .= ! empty( $item->url )        ? ' href="'   . esc_attr( $item->url        ) .'"' : '';
            		$item_output = $args->before;
      		$item_output .= '<a'. $attributes .'>';
      		$item_output .= $args->link_before . apply_filters( 'the_title', $item->title, $item->ID ) . $args->link_after;
      		$item_output .= '</a>';
      		$item_output .= $args->after;
      		$output .= apply_filters( 'walker_nav_menu_start_el', $item_output, $item, $depth, $args );
      	}
      	function end_el( &$output, $item, $depth = 0, $args = array() ) {
      		$output .= "\n";
      	}
      }
      ?>

    """
