'.text.html':

  'Wordpress Functions.php - Remove Category from Permalink':
    'prefix':'wp-deregister'
    'body':"""
    function remove_category( $string, $type )    {
        if ( $type != 'single' && $type == 'category' && ( strpos( $string, 'category' ) !== false ) )
        {
        $url_without_category = str_replace( "/category/", "/", $string );
        return trailingslashit( $url_without_category );
        }
        return $string;
    }
    add_filter( 'user_trailingslashit', 'remove_category', 100, 2);
    """

  'Wordpress Functions.php - Include Shortcode':
    'prefix':'wp-include-shortcode'
    'body':"""
      function include_file($atts) {
      	$a = shortcode_atts( array(
      		'slug' => 'NULL',
      	), $atts );

      	if($slug != 'NULL'){
      		ob_start();
      		get_template_part($a['slug']);
      		return ob_get_clean();
      	}
      }
      add_shortcode('include', 'include_file');
      // usage: [include slug="sub-folder/filename_without_extension"]

    """


  'Wordpress Functions.php - Login Scripts/Styles':
    'prefix':'wp-login-scripts'
    'body':"""
        $('#user_login').attr( 'placeholder', 'Username' );
        $('#user_pass').attr( 'placeholder', 'Password' );

        function themeslug_enqueue_script() {
        	wp_enqueue_script( 'my-js', 'filename.js', false );
        }

        add_action( 'login_enqueue_scripts', 'themeslug_enqueue_style', 10 );
        add_action( 'login_enqueue_scripts', 'themeslug_enqueue_script', 1 );
    """

  'Wordpress Functions.php - De-Enqueue Scripts/Styles':
    'prefix':'wp-deregister'
    'body':"""
        /**
         * Dequeue the Parent Theme scripts.
         *
         * Hooked to the wp_print_scripts action, with a late priority (100),
         * so that it is after the script was enqueued.
         */
        function my_site_WI_dequeue_script() {
        	wp_dequeue_script( 'comment-reply' ); //If you're using disqus, etc.
        	wp_dequeue_script( 'jquery_ui' ); //jQuery UI, no thanks!
        	wp_dequeue_script( 'fancybox' ); //Nah, I use FooBox
        	wp_dequeue_script( 'wait_for_images' );
        	wp_dequeue_script( 'jquery_easing' );
        	wp_dequeue_script( 'swipe' );
        	wp_dequeue_script( 'waypoints' );
        }

        add_action( 'wp_print_scripts', 'my_site_WI_dequeue_script', 100 );

        /**
         * Dequeue the Parent Theme styles.
         *
         * Hooked to the wp_enqueue_scripts action, with a late priority (100),
         * so that it runs after the parent style was enqueued.
         */

        function give_dequeue_plugin_css() {
        wp_dequeue_style('additional-parent-style');
        wp_deregister_style('additional-parent-style');
        }
        add_action('wp_enqueue_scripts','give_dequeue_plugin_css', 100);
    """

  'Wordpress Functions.php - De-Register Taxonomy':
    'prefix':'wp-deregister-taxonomy'
    'body':"""

      function wpc_unregister_job_listing_type() {
      	unregister_taxonomy('Type'); // Specify the taxonomy to unregister
      	unregister_taxonomy('author'); // Specify the taxonomy to unregister
      }
      add_action('init', 'wpc_unregister_job_listing_type');

    """

  'Wordpress Functions.php - jQuery Replace':
    'prefix':'wp-jquery-replace'
    'body':"""

        add_filter( 'wp_default_scripts', 'dequeue_jquery_migrate' );

        function dequeue_jquery_migrate( &$scripts){
        	if(!is_admin()){
        		$scripts->remove( 'jquery');
        		$scripts->add( 'jquery', false, array( 'jquery-core' ), '1.10.2' );
        	}
        }
        //Making jQuery Google API
        function modify_jquery() {
        if (!is_admin()) {
        // comment out the next two lines to load the local copy of jQuery
        wp_deregister_script('jquery');
        wp_register_script('jquery', 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', false, '1.9.1');
        wp_enqueue_script('jquery');
        }
        }
        add_action('init', 'modify_jquery');
    """

  'Wordpress Functions.php - Walker':
    'prefix':'wp-walker-functions'
    'body':"""
<?php
if ( ! file_exists( get_template_directory() . '/client-assets/walker.php' ) ) {
	return new WP_Error( 'walker-missing', __( 'walker.php missing.', 'walker-missing' ) );
} else {
	// file exists... require it.
  require_once get_template_directory() . '/client-assets/walker.php';
  function prefix_modify_nav_menu_args( $args ) {
  	return array_merge( $args, array(
  		'walker' => WP_Bootstrap_Navwalker(),
  	) );
  }
  add_filter( 'wp_nav_menu_args', 'prefix_modify_nav_menu_args' );
}
?>
    """

  'Wordpress Template - Walker Usage':
    'prefix':'wp-walker-template'
    'body':"""

<nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
  <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Navbar</a>
		<?php
		wp_nav_menu( array(
			'theme_location'    => 'primary',
			'depth'             => 2,
			'container'         => 'div',
			'container_class'   => 'collapse navbar-collapse',
			'container_id'      => 'bs-example-navbar-collapse-1',
			'menu_class'        => 'nav navbar-nav',
			'fallback_cb'       => 'WP_Bootstrap_Navwalker::fallback',
			'walker'            => new WP_Bootstrap_Navwalker(),
		) );
		?>
	</div>
</nav>
    """

  'Wordpress - Get Truncated':
    'prefix':'wp-get-truncate'
    'body':"""
      <?php
        function ShortTitle($text,chars_limit){
        	$chars_text = strlen($chars_limit);
        	$text = $text." ";
        	$text = substr($text,0,$chars_limit);
        	$text = substr($text,0,strrpos($text,' '));
        	if ($chars_text > $chars_limit){
        		$text = $text."...";
        	}
        	return $text;
        }

        // usage <?php echo ShortTitle(get_the_title()); ?>
      ?>
    """

  'Wordpress - Set Images':
    'prefix':'wp-images'
    'body':"""
      // THEME THUMBNAIL SIZES REGISTERED
      if ( function_exists( 'add_theme_support' ) ) {
      	add_theme_support( 'post-thumbnails' );
              set_post_thumbnail_size( 323, 182, true ); // default Post Thumbnail dimensions
      }

      if ( function_exists( 'add_image_size' ) ) {
      }
      // THEME THUMBNAIL SIZES REGISTERED

      add_action( 'after_setup_theme', 'wpdocs_theme_setup' );
      function wpdocs_theme_setup() {

      	add_image_size( 'medium', 200, 0, true );
      	add_image_size( 'large', 300, 0, true );
      	add_image_size( 'inSearch', 200, 200, true ); //300 pixels wide (and unlimited height)
      	add_image_size( 'isFeatureSelected', 1018, 556, true ); //(cropped)
      	add_image_size( 'inCategory', 323, 182, true ); // default Post Thumbnail dimensions
      	add_image_size( 'inPost-banner', 700, 394, true );
      	add_image_size( 'inPost-float', 230, 0, true );
      }
      function paulund_remove_default_image_sizes( $sizes) {
          unset( $sizes['medium']);
          unset( $sizes['large']);
          return $sizes;
      }
      add_filter('intermediate_image_sizes_advanced', 'paulund_remove_default_image_sizes');


      if ( function_exists( 'add_image_size' ) ) {
      	//add_image_size( 'post-thumbnail', 0, 0 );
      	add_image_size( 'medium', 600, 0, true );
      	//add_image_size( 'large', 300, 0, true );
      	//add_image_size( 'inSearch', 280, 65, true ); //300 pixels wide (and unlimited height)
      	//add_image_size( 'isFeatureSelected', 1018, 556, true ); //(cropped)
      	//add_image_size( 'inCategory', 323, 182, true ); // default Post Thumbnail dimensions
      	//add_image_size( 'twentyfourteen-full-width', 0, 0, true );
      	//add_image_size( 'inHome-parallax', 1700, 0, true );
      	//add_image_size( 'inPost-fullscreen', 1920, 1080, true );
      	//add_image_size( 'inPost-fullbleed', 1700, 400, true );
      	//add_image_size( 'inPost-banner', 1025, 394, true );
      	//add_image_size( 'inPost-slider', 1025, 285, true );
      	//add_image_size( 'inPost-float', 300, 0, true );
      }
    """




  'Wordpress - Fix Missing Custom Fields':
    'prefix':'wp-custom-field-missing-cpt-acf'
    'body':"""
        add_action( "plugins_loaded", "add_cpt_support_customfield" );
        function add_cpt_support_customfield(){add_post_type_support( 'casestudy', array( 'custom-fields' ) );}
        add_filter('acf/settings/remove_wp_meta_box', '__return_false');
        """
